# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
*.launch
.metadata

# OS
.DS_Store
Thumbs.db
desktop.ini

# Fabric
run/
logs/
*.log

# Java
*.class

# Other
remappedSrc/
